* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
    border: 0;
}
html {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}
.contain{
    margin-left: 10px;
    margin-right: 10px;
}
#sec1{
    background-color: #FFCB0F;
}
#sec1 .contain{
    padding-top: 5px;
    padding-bottom: 5px;
}
#sec1 .contain>div>div:nth-of-type(1) a{
    display: block;
    text-decoration: none;
    color: #222222;
}
#sec1 .contain>div>div:nth-of-type(2) a{
    text-decoration: none;
    color: #222222;
    margin-right: 10px;
}
#sec2 {
    background-color: #222533;
   position: relative;
   padding-bottom: 65px;
}

#sec2 header  {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background-color: #222533;
   padding: 10px;
}
#sec2 header>aside h3{
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
}
#sec2 header>aside h3 span{
    color: #F9B700;
}
#sec2 header>aside p{
    color: #fff;
    font-size: 0.8rem;
}

#sec2 header label {
   color: #F9B700;
   font-size: 1.1rem;
   border:2px solid #F9B700;
   border-radius: 2px;
   display: inline-block;
   padding: 0 5px;
}

#sec2 header input+nav {
   width: 100%;
   margin-top: 10px;
   display: none;
}

#sec2 header input {
   display: none;
}
#sec2 header input:checked+nav {
   display: flex;
   flex-wrap: wrap;
}
#sec2 header nav a {
   text-align: center;
   text-decoration: none;
   color: #FFF;
   padding: 8px 0px;
   border-bottom: thin dotted #332e2e;
   width: 100%;
}
#sec2 header nav a:nth-of-type(7){
   color: #F9B700;
}

#sec2 .container:last-of-type {
   color: #fff;
}

#sec2 .container:last-of-type form {
   padding: 30px 50px;
   border: thin solid #4b5264;
   background-color: rgba(14,23,38,0.4);
}

#sec2 .container:last-of-type form *{
   width: 100%;
   
}
#sec2 .container:last-of-type form *:not(div){
   padding: 7px 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   border-style: none;
}
#sec3{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../Images/banner.jpg") no-repeat;
    background-position: -170px -480px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#sec3 h6{
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
#sec3 .contain>h3:nth-of-type(1){
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#sec3 .contain>h3:nth-of-type(2){
    color: #F9B700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#sec3 p{
    color: #fff;
    font-size: 0.7rem;
    margin-bottom: 25px;
}
#sec3 a{
    text-decoration: none;
    background-color: #000;
    border: 2px solid #F9B700;
    color: #F9B700;
    text-transform: uppercase;
    padding: 5px 15px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
#sec4{
    margin-top: 20px;
}
#sec4>div>section>div:nth-of-type(1) h2{
    color: #F9B700;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 15px;
}
#sec4>div>section>div:nth-of-type(1) p{
    text-align: justify;
}
#sec4>div>section>div:nth-of-type(1) h6{
    color: #3d3d3d;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
#sec4>div>section>div:nth-of-type(1) p:nth-of-type(1){
    font-size: 0.7rem;
    margin-bottom: 20px;
}
#sec4>div>section>div:nth-of-type(1) p:nth-of-type(2){
    font-size: 0.7rem;
    margin-bottom: 10px;
}
#sec4>div>section>div:nth-of-type(1) a{
    background-color: #F9B700;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#sec4>div>section>div:nth-of-type(2) img{
    max-width: 100%;
}
#sec5{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("../Images/bg4.jpg") no-repeat center left/cover;
    text-align: center;
    padding: 20px 0px;
}
#sec5 section>div h2{
    color: #F9B700;
    text-transform: uppercase;
}
#sec5 section>div p{
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 30px;
}
#sec5 section>article>div i{
    font-size: 3.5rem;
    color: #000;
    background-color: #F9B700;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    top: -20px;
}
#sec5 section>article>div {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}
#sec5 section>article>div h5{
    color: #F9B700;
    text-transform: uppercase;
    margin-top: -45px;
}
#sec5 section>article>div p{
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-weight: lighter;
}
#sec6>.contain h2{
    color: RGB(72,72,72);
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px 15px 0px;
}
#sec6>.contain>section article img{
    max-width: 100%;
    width: 100%;
    z-index: 2;
}
#sec6>.contain>section article h4{
    position: relative;
    background-color: rgba(0,0,0,0.5);
    top: -45px;
    z-index: 1;
    color: #FFF;
    padding:10px 5px;
    text-align: center;
}
#sec6>.contain>section article p{
    font-weight: lighter;
    font-size: 0.9rem;
    margin-top: -10px;
}
#sec6>.contain>section article a{
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F9B700;
    color: #fff;
    display: block;
    margin: 30px 0px 5px 0px;
    border-radius: 5px;
}
#sec7{
    background: linear-gradient(rgba(85, 85, 85, 0.8),rgba(85, 85, 85, 0.8)),
    url("../Images/bg2.jpg") no-repeat center center/cover;
    text-align: center;
    padding: 40px 0px;
}
#sec7>.contain h2{
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#sec7>.contain p{
    color: #FFF;
    font-size: 0.9rem;
    margin-bottom: 30px;
}
#sec7>.contain>nav a{
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    padding:2px 10px;
    display: inline-block;
    margin-bottom: 10px;
}
#sec7>.contain>nav a.active{
    background-color: rgba(0,0,0,0.5);
}
#sec7>.contain>nav a:hover{
    background-color: rgba(0,0,0,0.5);
}
#sec7>.contain>article img{
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}
#sec8{
    background: url("../Images/bg3.jpg") repeat center center;
}
#sec8>.contain>h2{
    color: RGB(72,72,72);
    text-transform: uppercase;
    margin-bottom: 10px;    
    text-align: center;
}
#sec8>.contain>p{
    margin-bottom: 20px;
    font-weight: lighter;   
    text-align: center; 
}
#sec8>.contain div:nth-of-type(1) p{
    padding: 10px 5px 10px 60px;
    background:linear-gradient(RGBA(229,229,229,0.5),RGBA(229,229,229,0.5)), url("../Images/blockquote2.png") no-repeat 10px 10px;
}
#sec8>.contain img:nth-of-type(1){
    width: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#sec8>.contain img:nth-of-type(2){
    margin-top: 10px;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#sec8>.contain h6{
    text-align: center;
    color: RGB(72,72,72);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#sec8>.contain div:nth-of-type(2) p{
    padding: 10px 5px 10px 60px;
    background-image: url("../Images/blockquote1.png");
    background-repeat: no-repeat;
    background-position:10px 10px ;
    background-color: RGB(255,203,15);
    color: #FFF;
}
#sec8>.contain div:nth-of-type(3) p{
    padding: 10px 5px 10px 60px;
    background:linear-gradient(RGBA(229,229,229,0.5),RGBA(229,229,229,0.5)), url("../Images/blockquote2.png") no-repeat 10px 10px;
}
#sec9{
    background-color: RGB(254,219,93);
    padding: 0px 0px 20px 0px;
}
#sec9 h2{
    color: RGB(111,114,126);
    padding-top: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#sec9 h3{
    color: RGB(111,114,126);
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
}
#sec9 input{
    padding:10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}
#sec9 input:nth-of-type(4){
    background-color: RGB(111,114,126);
    color: #fff;
    text-transform: uppercase;
}
#sec10{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../Images/bg2.jpg") no-repeat center center;
    padding: 50px 0px 50px 0px;
    color: #fff;
}
#sec10 h6{
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 20px;
}
#sec10 p{
    font-size: 0.9rem;
    font-weight: lighter;
}
#sec10 h2{
    color: #F9B700;
    font-style: italic;
    text-transform: uppercase;
}
#sec10 span{
    margin-bottom: 15px;
    display: inline-block;
    font-size: 0.8rem;
}
#sec10 section div:nth-of-type(1) a{
    text-decoration: none;
    background-color: #F9B700;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
#sec10 section div:nth-of-type(1) i{
    width: 15px;
    text-align: center;
}
#sec10 li a{
    font-size: 0.8rem;
    margin-left: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
}
#sec10 section section{
    display: flex;
    justify-content: space-around;
}
#sec10 section section span{
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
}
#sec10 section section p{
    width: 80%;
}
#sec10>.contain>section div:nth-of-type(4) a{
    text-decoration: none;
    color: #FFF;
    margin-bottom: 5px;
    display: block;
}
#sec10>.contain>section div:nth-of-type(4) i{
    margin-right: 10px;
}
#sec10>section h4{
    font-size: 0.8rem;
    margin-top: 50px;
    font-weight: lighter;
    text-align: center;
}
#sec10>section h4 span{
    color: #F9B700;
    font-size: 0.8rem;
    margin-top: 50px;
    font-weight: lighter;
    text-align: center;
}
@media (min-width: 576px) {  
    #sec3 a{
        margin-right: 5px;
        display: inline-block;
    }
    #sec7>.contain>article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #sec7>.contain>nav a{
        margin-bottom: 15px;
    }
    #sec7>.contain>article>div:nth-of-type(1) {
        width: 70%;
    }
    #sec7>.contain>article>div:nth-of-type(2) {
        width: 71%;
        margin-top: -10px;
    }
    #sec7>.contain>article>div:nth-of-type(2) img{
        width: 49%;
        margin-bottom:0px ;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .contain {
        width: 720px;
        margin-right: auto;
        margin-left: auto;
    }
    #sec2 header input+nav a {
        width:50%; 
    }
    #sec3{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../Images/banner.jpg") no-repeat center left;
    }
    #sec3 h6{
        font-size: 1rem;
    }
    #sec3 .contain>h3:nth-of-type(1){
        font-size: 2rem;
    }
    #sec3 .contain>h3:nth-of-type(2){
        font-size: 2rem;
    }
    #sec3 p{
        font-size: 0.9rem;
    }
    #sec4>div>section>div:nth-of-type(1){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #sec4>div>section>div:nth-of-type(1) a{
        padding: 5px 25px;
        display: inline-block;
    }
    #sec5 section>article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    #sec5 section>article>div{
        width: 48%;
        margin-bottom: 30px;
    }
    #sec6>.contain>section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #sec6>.contain>section article{
        width:32%;
    }
    #sec10 .contain>section{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #sec10>.contain>section div{
        width: 49%;
    }
    #sec10>section h4 {
        font-size: 1rem;
    }
    #sec10>section h4 span{
        font-size: 1rem;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .contain{
        width: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    #sec1 .contain>div{
        display: flex;
        justify-content: space-between;
    }
    #sec1 .contain>div>div:nth-of-type(1) a{
        display: inline;
        margin-right: 15px;
    }
    #sec2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #sec2 header input+nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top:0;
        width: 70%;
    }
    #sec2 header input+nav a{
        width: auto;
        display: inline-block;
        padding: 3px 10px;
        border: 0;

    }
    #sec2 header input+nav a:hover{
        background-color: #F9B700;
        border:none;
        color: #fff;
    }
    #sec2 header label {
        display: none;
    }
    
    #sec2 header  {
        position: static;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-color: transparent;
        padding: 0;
    }
    #sec3{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../Images/banner.jpg") no-repeat center center/cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #sec3 h6{
        font-size: 1.5rem;
    }
    #sec3 .contain>h3:nth-of-type(1){
        font-size: 3rem;
    }
    #sec3 .contain>h3:nth-of-type(2){
        font-size: 3rem;
    }
    #sec3 p{
        font-size: 1rem;
    }
    #sec4>div>section>div:nth-of-type(1){
        display: block;
        width: 60%;
    }
    #sec4>div>section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #sec4>div>section>div:nth-of-type(1) a{
        padding: 7px 20px;
    }
    #sec4>div>section>div:nth-of-type(1) h2{
        font-size: 2rem;
    }
    #sec4>div>section>div:nth-of-type(1) h6{
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
    #sec4>div>section>div:nth-of-type(1) p:nth-of-type(1){
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    #sec4>div>section>div:nth-of-type(1) p:nth-of-type(2){
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    #sec5 section>article>div{
        width: 23%;
        margin-bottom: 0;
    }
    #sec5 section>div h2{
        font-size: 2rem;
    }
    #sec5 section>div p{
        font-size: 0.9rem;
        margin-bottom: 50px;
    }
    #sec6>.contain>section article a{
        display: inline-block;
        margin-bottom: 15px;
    }
    #sec7>.contain>article>div:nth-of-type(1) {
        width: 48%;
    }
    #sec7>.contain>article>div:nth-of-type(1) img {
        width: 100%;
        max-width: 100%;
    }
    #sec7>.contain>nav a{
        margin-bottom: 30px;
        margin-right: 10px;
    }
    #sec7>.contain>article>div:nth-of-type(2) {
        width: 50%;
        margin-top: 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
    }
    #sec7>.contain>article>div:nth-of-type(2) img{
        width: 49%;
        margin-bottom: 10px;
    }
    #sec8>.contain h2{
       margin-top: 20px;
       font-size: 2rem;
    }
    #sec8>.contain>section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #sec8>.contain>section article{
        display: inline;
    }
    #sec8>.contain>section div{
        width: 30%;
    }
    #sec9 section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0px 20px 0px;
    }
    #sec9 section div{
        width: 49%;
    }
    #sec9 section h2{
        font-size: 1.5rem;
    }
    #sec9 section h3{
        font-size: 1.9rem;
    }
    #sec9 section form{
        width: 49%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #sec9 section input:nth-of-type(1){
        width: 49%;
    }
    #sec9 section input:nth-of-type(2){
        width: 49%;
    }
    #sec9 section input:nth-of-type(3){
        width: 74%;
    }
    #sec9 section input:nth-of-type(4){
        width: 24%;
    }
    #sec10>.contain>section div{
        width: 23%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .contain{
        width: 1140px;
    }
}
@media (min-width: 1400px) {  
}
